.song-detail {
    grid-row: 2/8;
    grid-column: 1/5;
    color: #94a3b8;
    background-color: #1e293b;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 1fr 1fr 1fr;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.now-playing > .header {
    font-weight: 400;
    font-size: 1.5rem;
}

.now-playing {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    padding-top: 12px;
}
.now-playing > * {
    margin: 3px;
}
@media (max-width: 760px) {
    .song-detail {
        display: none;
    }
}

.song-detail > div {
    width: 100%;
    height: 100%;
}

.album-img {
    grid-row: 2/4;
    grid-column: 1/3;
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

.artist-img {
    grid-row: 4/5;
    grid-column: 1/3;
    /* height: 100%; */
    width: 100%;
    /* border-radius: 9999px; */
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.album-img > img {
    /* width: 100%; */
    height: 100%;
}
.artist-img > img {
    height: 64px;
    border-radius: 1000%;
}

.artist-img > .artist-name {
    color: aliceblue;
}
