.song-detail {
    grid-row: 2/8;
    grid-column: 1/5;
    color: #94a3b8;
    background-color: #1e293b;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 1fr 1fr 1fr; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .song-detail > .header {
    grid-column: 1/3;
} */

@media (max-width: 400px) {
    .song-detail {
        display: none;
    }
}

.song-detail > div {
    width: 90%;
    height: 90%;
}
